PyPDF2 >= 3.0.1
numpy >= 1.21.0
opencv-python >= 4.10.0.82
pillow >= 10.3.0
sphinx >= 5.0.2
    # via
    #   -r docs/requirements.in
    #   sphinx-rtd-theme
sphinx-rtd-theme >=1.0.0
    # via -r docs/requirements.in
